

  .lay-painel {
    width: 100%;
    min-height: 100vh;
  }
  
  .lay-shadow {
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.4);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.4);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.4);
  }
  .lay-shadow2 {
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
  }
  .lay-menu {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 5;
    width: 100%;
    max-width: 400px;
    min-height: 100vh;
    transition: left .5s ease;
  }
  .lay-menu-off {
    left: -100%;
  }
  .lay-reticencias{
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
  }
  .lay-transition-height {
    transition: max-height 0.5s ease-out;
  }
  .lay-off {
    max-height: 42px!important;
  }
  .lay-cursor-default {
    cursor: default;
  }
  .lay-notificacao {
    cursor: default;
    width: 200px;
  }
  .lay-log {
    position: fixed;
    width: 350px;
    right: 0;
    left: 0;
    margin: auto;
    top: 77px;
    z-index: 1;
    max-height: 80vh;
  }
  